<ion-view view-title="嗨羞筛选">
    <ion-content padding="true">
        <div class="card">
            <a href="#" class="item item-icon-left" ng-click="clickInfoItem('地点')">
                <i class="icon ion-location"></i>
                地点
                <span class="item-note">
                  {{meetCondition.mapLoc.name}}
                </span>
            </a>
        </div>
        <div class="list card">
            <a href="#" class="item item-icon-left" ng-click="clickInfoItem('性别')">
                <i class="icon ion-transgender"></i>
                性别
                <span class="item-note">
                  {{meetCondition.specialInfo.sex}}
                </span>
            </a>

            <a href="#" class="item item-icon-left" ng-click="clickInfoItem('发型')">
                <i class="icon ion-ios-person"></i>
                发型
                <span class="item-note">
                  {{meetCondition.specialInfo.hair}}
                </span>
            </a>

            <a href="#" class="item item-icon-left" ng-click="clickInfoItem('眼镜')">
                <i class="icon ion-ios-glasses"></i>
                眼镜
                <span class="item-note">
                  {{meetCondition.specialInfo.glasses}}
                </span>
            </a>

            <a href="#" class="item item-icon-left" ng-click="clickInfoItem('衣服类型')">
                <i class="icon ion-tshirt"></i>
                衣服类型
                <span class="item-note">
                  {{meetCondition.specialInfo.clothesType}}
                </span>
            </a>

            <a href="#" class="item item-icon-left" ng-click="clickInfoItem('衣服颜色')">
                <i class="icon ion-android-color-palette"></i>
                衣服颜色
                <span class="item-note">
                  {{meetCondition.specialInfo.clothesColor}}
                </span>
            </a>

            <a href="#" class="item item-icon-left" ng-click="clickInfoItem('衣服花纹')">
                <i class="icon ion-ios-medical"></i>
                衣服花纹
                <span class="item-note">
                  {{meetCondition.specialInfo.clothesStyle}}
                </span>
            </a>
        </div>
        <a class="button button-block button-balanced icon ion-search" ng-click="searchTargets()">
        </a>
    </ion-content>
</ion-view>