<ion-view view-title="联系人">
    <ion-content>
        <div class="list">
            <a class="item item-avatar-left" ng-class="{unread:item.unread}" href="#" ng-repeat="item in r_friends" ng-click="clickChat(item)">
                <img ng-src="{{r_imagePath + 'normal/' + friendLogo(item)}}">
                <h2>{{friendNickname(item)}}</h2>
                <span class="badge badge-assertive" ng-show="unreadCount(item) > 0">
                    {{unreadCount(item)}}
                </span>
            </a>
        </div>
    </ion-content>
</ion-view>