<ion-view view-title="{{user.username}}的嗨羞">
    <ion-nav-buttons side="primary">
        <a class="button button-icon icon ion-plus-round" ng-click="createMeet()">
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary"><span class="badge badge-assertive" ng-show="infoNeedUpdateTime > 0">{{infoNeedUpdateTime}}</span>
        <a class="button button-icon icon ion-ios-body" ng-click="enterInfo()">
        </a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list">
            <a class="item item-thumbnail-left" href="#" ng-repeat="item in meets" ng-click="clickMeet(item)">
                <img ng-src="{{item.logo}}"><span class="badge badge-assertive" ng-show="meetTargetUpdated[item._id]">{{meetTargetUpdated[item._id]}}</span>
                <h2>{{item.mapLoc.name}}</h2>
                <p>{{item.mapLoc.address}}</p>
                <p>{{item.status}}</p>
                <p>{{item.createTime}}</p>
            </a>
        </div>
    </ion-content>
</ion-view>