<ion-view view-title="{{r_mainInfo.user.nickname}}的嗨羞">
    <ion-nav-buttons side="primary">
        <a class="button button-icon icon ion-plus-round" ng-click="createMeet()">
        </a>
    </ion-nav-buttons>
    <ion-nav-buttons side="secondary">
        <a class="button button-icon icon ion-ios-body" ng-click="enterInfo()">
        </a>
    </ion-nav-buttons>
    <ion-content>
        <ion-refresher pulling-text="下拉刷新" on-refresh="doRefresh()">
        </ion-refresher>
        <div class="list">
            <a class="item item-thumbnail-left" ng-class="{unread:unread(item)}" href="#" ng-repeat="item in r_mainInfo.meets | orderBy: '-_id' " ng-click="clickMeet(item)">
                <img ng-src="{{r_imagePath + 'normal/' + item.logo}}">
                <h2>{{item.mapLoc.name}}</h2>
                <p>{{item.mapLoc.address}}</p>
                <p>{{item.status}}</p>
                <p><span am-time-ago="{{item._id | objectIDtoDate }}"></span></p>
            </a>
        </div>
    </ion-content>
</ion-view>